{{ ansible_managed | comment }}
# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ cluster_name }}
# ------------------------------------ Node ------------------------------------
node.name: {{ inventory_hostname }}
node.master: {{ node_master }}
node.data: {{ node_data }}
node.ingest: {{ node_ingest }}
node.ml: {{ node_ml }}
# ----------------------------------- Paths ------------------------------------
path.data: {{ path_data }}
path.logs: {{ path_log }}
# ----------------------------------- Memory -----------------------------------
bootstrap.memory_lock: {{ bootstrap_memory_lock }}
# ---------------------------------- Network -----------------------------------
network.host: {{ ansible_host }}
http.port: {{ http_port }}
# --------------------------------- Discovery ----------------------------------
discovery.seed_hosts: 
{% for host in groups['es_master'] %}
- "{{ hostvars[host].ansible_host }}"
{% endfor %}
